.icon-x1 {
  height: 1em;
  width: auto;
  vertical-align: middle;
}

.icon-x1_5 {
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}

.icon-x2 {
  height: 2em;
  width: auto;
  vertical-align: middle;
}

.image-x2_5 {
  height: 2.5em;
  width: auto;
  vertical-align: middle;
}

.image-x5 {
  height: 5em;
  width: auto;
  vertical-align: middle;
  border-radius: 0 !important;
}

.image-x10 {
  height: 10em;
  width: auto;
  vertical-align: middle;
}